/* BASIC STYLES HERE */

body {
    background-size: cover;
    background-position: center;
}

.menu-dock {
    background-color: rgba(32, 32, 32, 0.729);
    padding: 2rem;
    margin: 2rem;
    color: white;
    border-radius: 1%;
    border: 2px solid white;
}


.quote-author {
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out .30s;
}


.quote-content {
    cursor: help;
}

.quote-content:hover+.quote-author {
    opacity: 1;
    visibility: visible;
}

.text-shadow-css {
    text-shadow: 2px 2px 2px black;
}